@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 301 65% 99%;
    --foreground: 301 70% 4%;
    --card: 301 65% 98%;
    --card-foreground: 301 70% 3%;
    --popover: 301 65% 98%;
    --popover-foreground: 301 70% 3%;
    --primary: 301 48% 86%;
    --primary-foreground: 301 48% 26%;
    --secondary: 61 48% 86%;
    --secondary-foreground: 61 48% 6%;
    --accent: 181 48% 86%;
    --accent-foreground: 181 48% 6%;
    --destructive: 2 84% 23%;
    --destructive-foreground: 2 84% 83%;
    --muted: 61 18% 90%;
    --muted-foreground: 61 12% 27%;
    --border: 301 2% 91%;
    --input: 301 2% 91%;
    --ring: 301 48% 86%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 301 52% 4%;
    --foreground: 301 31% 99%;
    --card: 301 52% 5%;
    --card-foreground: 0 0% 100%;
    --popover: 301 52% 5%;
    --popover-foreground: 0 0% 100%;
    --primary: 301 48% 86%;
    --primary-foreground: 301 48% 26%;
    --secondary: 61 48% 86%;
    --secondary-foreground: 61 48% 6%;
    --accent: 181 48% 86%;
    --accent-foreground: 181 48% 6%;
    --destructive: 2 84% 51%;
    --destructive-foreground: 0 0% 100%;
    --muted: 61 18% 10%;
    --muted-foreground: 61 12% 73%;
    --border: 301 2% 13%;
    --input: 301 2% 13%;
    --ring: 301 48% 86%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
