@import 'tailwindcss';
@plugin '@tailwindcss/typography';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card-1: var(--card-1);
  --color-card-2: var(--card-2);
  --color-card-border: var(--card-border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #ededed;
    --card-1: #2a2a2a;
    --card-2: #1a1a1a;
    --card-border: #161616;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    Inter,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol;
}
